## Describe statistic

In [7]:
import pandas as pd

In [8]:
data = pd.read_csv('data1.csv')

In [9]:
data.head(3)

  class name  score
0    一班  朱志斌    120
1    一班   朱凤    122
2    一班  郑丽萍    140

In [10]:
data['score'].describe()

count     13.000000
mean     121.076923
std       12.446295
min       96.000000
25%      115.000000
50%      120.000000
75%      131.000000
max      140.000000
Name: score, dtype: float64

In [11]:
# get standard deviation
data['score'].std()

12.44629488684309

In [12]:
# get variance of score
data['score'].var()

154.91025641025644

In [16]:
# get the quantile, when the desired quantile lies between two data points, choose the nearest one
data['score'].quantile(q=[0.25, 0.5], interpolation='nearest')

0.25    115
0.50    120
Name: score, dtype: int64

In [19]:
# add 'variance' to describe
r = data['score'].describe()
r = r.append(pd.Series([data['score'].var()], index=['var'])) # you need use '=', which asign it to a variable
print(r)

count     13.000000
mean     121.076923
std       12.446295
min       96.000000
25%      115.000000
50%      120.000000
75%      131.000000
max      140.000000
var      154.910256
dtype: float64

## Sampling

### (1) random sampling

In [20]:
import numpy as np
import pandas as pd

In [21]:
data = pd.read_csv('data2.csv')

In [22]:
data.head(5)

   id  class  score
0   1      3     77
1   2      1    101
2   3      3     46
3   4      2    122
4   5      1     63

In [26]:
# random sampling 3 numbers from data
np.random.seed(seed=1234)
# 'replace=True' means put number back after sampling, 'False' means no put back
r = np.random.choice(data.index, size=3, replace=True)
r

array([47, 83, 38])

In [27]:
# get the data that we sampling
data.loc[r,:]

    id  class  score
47  48      1     86
83  84      3     52
38  39      2     32

In [30]:
# practice 'replace=True' and 'replace=False'
a = np.random.choice([1,2,3], size=3, replace=True)
b = np.random.choice([1,2,3], size=3, replace=False)
print(a, b)

[2 2 3] [1 2 3]

### (2) representative sampling

In [33]:
# divide data into different groups by "class"
class_group = data.groupby("class")
class_group.groups # from results, we can see there are 3 groups in data

{1: Int64Index([ 1,  4,  9, 12, 19, 23, 24, 25, 27, 30, 32, 36, 37, 39, 40, 43, 44,
             46, 47, 49, 53, 56, 60, 70, 76, 78, 79, 92, 93, 98],
            dtype='int64'),
 2: Int64Index([ 3,  8, 11, 13, 14, 15, 16, 18, 20, 21, 22, 28, 29, 35, 38, 45, 51,
             54, 57, 62, 63, 68, 71, 72, 74, 75, 80, 81, 84, 85, 86, 87, 89, 94,
             96, 97, 99],
            dtype='int64'),
 3: Int64Index([ 0,  2,  5,  6,  7, 10, 17, 26, 31, 33, 34, 41, 42, 48, 50, 52, 55,
             58, 59, 61, 64, 65, 66, 67, 69, 73, 77, 82, 83, 88, 90, 91, 95],
            dtype='int64')}

In [37]:
# sampling from different class groups
for i in class_group.groups.keys():
    group = class_group.get_group(i)
    print(group.sample(frac=1/5, replace=True)) # for each group, we sampling 1/5 proportion

    id  class  score
23  24      1     84
98  99      1     71
46  47      1     82
23  24      1     84
78  79      1     83
93  94      1     58
    id  class  score
75  76      2     59
63  64      2     71
51  52      2     88
20  21      2    138
16  17      2    115
71  72      2    107
80  81      2     81
    id  class  score
61  62      3    103
59  60      3     71
65  66      3     83
26  27      3     64
6    7      3     87
10  11      3     89
52  53      3     62