In [7]:
import pandas as pd

In [8]:
data = pd.read_csv('data.csv')

In [9]:
data.head(3)

  class name  score
0    一班  朱志斌    120
1    一班   朱凤    122
2    一班  郑丽萍    140

In [10]:
data['score'].describe()

count     13.000000
mean     121.076923
std       12.446295
min       96.000000
25%      115.000000
50%      120.000000
75%      131.000000
max      140.000000
Name: score, dtype: float64

In [11]:
# get standard deviation
data['score'].std()

12.44629488684309

In [12]:
# get variance of score
data['score'].var()

154.91025641025644

In [16]:
# get the quantile, when the desired quantile lies between two data points, choose the nearest one
data['score'].quantile(q=[0.25, 0.5], interpolation='nearest')

0.25    115
0.50    120
Name: score, dtype: int64

In [19]:
# add var to describe
r = data['score'].describe()
r = r.append(pd.Series([data['score'].var()], index=['var'])) # you need use '=', which asign it to a variable
print(r)

count     13.000000
mean     121.076923
std       12.446295
min       96.000000
25%      115.000000
50%      120.000000
75%      131.000000
max      140.000000
var      154.910256
dtype: float64